<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://expiredrequestscode.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8d923dc5-56ad-4308-ba82-27bca93bbdf5/resourceGroups/el7rafe-rg/providers/Microsoft.Web/sites/expiredrequestscode</ResourceId>
    <PublishUrl>https://expiredrequestscode.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>