<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://handleblockedusers-h0cxe3erhudhh0h5.uaenorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/df1fb5ee-1355-43ad-9bb4-ae824cdc2c4f/resourceGroups/DefaultResourceGroup-null/providers/Microsoft.Web/sites/HandleBlockedUsers</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://handleblockedusers-h0cxe3erhudhh0h5.scm.uaenorth-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>